astroplan
astropy
black
emcee
iminuit
matplotlib
numpy
pandas
pytest
pyyaml
scipy

# model-specific
sncosmo
dustmaps
dust_extinction

# messengers
python-telegram-bot==13.12
slack_sdk

# brokers
fink-client
fastavro
lasair
alerce

